{
  "presets": [
    [
      "next/babel",
      {
        "transform-runtime": {
          "useESModules": false
        }
      }
    ],
    "@emotion/babel-preset-css-prop",
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "~": "./"
      }
    }]
  ]
}
