.next
.env
.DS_STORE
DS_STORE
package-lock.json
node_modules

/**/*/package-lock.json
/**/*/.DS_STORE
/**/*/node_modules
/**/*/.next
/**/*/.data

.data/*
!.data/.gitkeep

public/static/files/*
!public/static/files/.gitkeep

public/static/system/*
!public/static/system/.gitkeep
!public/static/system/avatar.png