.next
.env
.DS_STORE
DS_STORE
package-lock.json
yarn.lock
node_modules
dist

/**/*/package-lock.json
/**/*/.DS_STORE
/**/*/node_modules
/**/*/.next
/**/*/.data

.data/*
!.data/.gitkeep

public/static/files/*
!public/static/files/.gitkeep

public/static/system/*
!public/static/system/.gitkeep