.next
.nova
.env
.env-custom-development
.env-development
.env-textile
.env-production
.DS_STORE
DS_STORE
package-lock.json
yarn.lock
node_modules
dist
analytics.txt
slate-storage-addresses.json

200MB_BUCKET_TEST.txt
500MB_BUCKET_TEST.txt
1GB_BUCKET_TEST.txt
2GB_BUCKET_TEST.txt
4GB_BUCKET_TEST.txt

/**/*/package-lock.json
/**/*/.DS_STORE
/**/*/node_modules
/**/*/.next
/**/*/.data

.data/*
!.data/.gitkeep

public/static/files/*
!public/static/files/.gitkeep

public/static/system/*
!public/static/system/.gitkeep